{% extends 'base.html' %}

{% block title %}
    {{ game.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="cover" style="background-image: url('{{ game.poster }}');">

    </div>
    <div class="container my-5">
        <h1 class="text-center">{{ game.title }}</h1>
        <article>
            <p>
                {{ game.desc }}
            </p>
        </article>
        <h3 class="mb-3">Отзывы</h3>
        {% for review in game.reviews %}
        <div class="row">
            <div class="col-auto">
                <p class="h1 text-success">{{ review.rating }}</p>
            </div>
            <div class="col">
                <p class="text-primary fw-bold">
                    {{ review.user.last_name }} {{ review.user.first_name }}
                </p>
                <p>{{ review.body }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid bg-info text-white">
        <div class="container p-3">
            <form>
                <h3 class="mb-3">Оценить игру</h3>
                <div class="mb-3">
                    <p>Оценка</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                               value="3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                               value="4">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                               value="5">
                        <label class="form-check-label" for="inlineRadio5">5</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Комментарий</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-light">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
