{% extends 'base.html' %}

{% block title %}
    {{ game.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="cover" style="background-image: url('{{ game.poster }}');">

    </div>
    <div class="container my-5">
        <h1 class="text-center">{{ game.title }}</h1>
        <article>
            <p>
                {{ game.desc }}
            </p>
        </article>
        <h3 class="mb-3">Отзывы</h3>
        {% for review in game.reviews %}
        <div class="row">
            <div class="col-auto">
                <p class="h1 text-success">{{ review.rating }}</p>
            </div>
            <div class="col">
                <p class="text-primary fw-bold">
                    {{ review.user.last_name }} {{ review.user.first_name }}
                </p>
                <p>{{ review.body }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid bg-info text-white">
        <div class="container p-3">
            <form action="{{ url_for('create_review', game_id=game.id) }}" method="POST">
                {{ form.csrf_token }}
                <h3 class="mb-3">Оценить игру</h3>
                <div class="mb-3">
                    <p>Оценка</p>
                    {% for mark in form.rating %}
                    <div class="form-check form-check-inline">
                        {{ mark(class_='form-check-input') }}
                        <label class="form-check-label" for="inlineRadio1">{{ mark.label }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">{{ form.body.label }}</label>
                    {{ form.body(class_='form-control', rows=5) }}
                </div>
                <button type="submit" class="btn btn-light">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
