<div class="card mb-3">
    <img src="{{ game.poster }}"
         class="card-img-top" alt="{{ game.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ game.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Дата выпуска: {{ game.release_date }}</h6>
        <p class="card-text">
            {{ game.price }} RUB
            {% if game.on_sale %}
                <span class="text-danger">(Распродажа)</span>
            {% endif %}
        </p>
        <a href="{{ url_for('get_game', game_id=game.id) }}" class="btn btn-primary">Подробнее</a>
    </div>
</div>