{% extends 'base.html' %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="cover" style="background-image: url('https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_SuperMario3DWorldAndBowsersFury_image1600w.jpg');">

    </div>
    <div class="container my-5">
        <h1 class="text-center">{{ game.name }}</h1>
        <article>
            <p>
                Вместе с Марио, Луиджи, Пич и Тоадом вам предстоит спасти Королевство фей в Super Mario 3D World +
                Bowser’s
                Fury для Nintendo Switch! Выручите фею-принцессу и ее подданных самостоятельно или в компании трех
                друзей в
                улучшенной версии Super Mario 3D World.
            </p>
            <p>
                Кроме того, также в одиночку или вместе с друзьями помогите Боузеру-младшему расколдовать его папочку в
                новом дополнительном приключении Bowser’s Fury.
            </p>
        </article>
        <h3 class="mb-3">Отзывы</h3>
        <div class="row">
            <div class="col-auto">
                <p class="h1 text-success">5</p>
            </div>
            <div class="col">
                <p class="text-primary fw-bold">
                    Петров Иван
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis distinctio exercitationem
                    impedit
                    in, magnam magni molestias nostrum optio porro vero?
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-info text-white">
        <div class="container p-3">
            <form>
                <h3 class="mb-3">Оценить игру</h3>
                <div class="mb-3">
                    <p>Оценка</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="1">
                        <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="2">
                        <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                               value="3">
                        <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                               value="4">
                        <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                               value="5">
                        <label class="form-check-label" for="inlineRadio5">5</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Комментарий</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-light">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}
