{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row row-cols-xl-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
            {% for game_id, game in games.items() %}
                <div class="col">
                    <div class="card mb-3">
                        <img src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_SuperMario3DWorldAndBowsersFury_image1600w.jpg"
                             class="card-img-top" alt="{{ game.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ loop.index }}. {{ game.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Дата выпуска: 12.02.2021</h6>
                            <p class="card-text">
                                {{ game.price }} RUB
                                {% if game.sale %}
                                    <span class="text-danger">(Распродажа)</span>
                                {% endif %}
                            </p>
                            <a href="{{ url_for('get_game', game_id=game_id) }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
