{% extends 'base.html' %}

{% block title %}
    Вход в систему
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
                <form action="{{ url_for('login') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        <label for="email" class="form-label">{{ form.email.label }}</label>
                        {{ form.email(class_='form-control') }}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">{{ form.password.label }}</label>
                        {{ form.password(class_='form-control') }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ form.remember_me(class_='form-check-input') }}
                        <label class="form-check-label" for="remember_me">{{ form.remember_me.label }}</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}