<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('homepage') }}">Nintendon't</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Открыть меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('homepage') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Добавить игру</a>
                </li>
            </ul>
        </div>
    </div>
</nav>